rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Branding settings - Read and Write allowed for now to handle multi-backend sync
    match /settings/branding {
      allow read: if true;
      allow write: if true; 
    }
  }
}
